:root {
    /* Colors */
    --gray-200: #EAEAEA;
    --primary-600: #1AAEB7;
    --gray-700: #6E6E6E;
    --gray-600: #8E8E8E;

    --gray-75: #FAFAFA;
    --primary-75: #D6F8FB;
    --selected-background: #F2FEFF;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
}

a, p, li, span, h1, h2, h3, h4, h5, h6 {
    top: 0.05em;
    position: relative;
}

button {

}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

/* Global text styles */

h2 {
    font-size: 30px;
    color: black;
}

h3 {
    font-size: 18px;
    color: #292929;
}

h4 {
    font-weight: normal;
    font-size: 16px;
    color: var(--gray-700);
}

h6 {
    font-size: 14px;
    color: var(--primary-600);
}

/* Add Gotham Font */
@font-face {
    font-family: 'Gotham', sans-serif;
    src: url('../../public/fonts/GothamBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham', sans-serif;
    src: url('../../public/fonts/GothamMedium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}